<section class="commentsapp">
    <header class="header">
    <h1>Blog Comments</h1>
    <button class="toggle-comment">Add Comment</button>
    <form class="comments-form">
        <textarea name="email" id="email" placeholder="Email" {{!-- cols="30" rows="10" --}}></textarea>
        <textarea name="comments" id="comments" placeholder="Comments" {{!-- cols="30" rows="10" --}}></textarea>
        <button class="submit-button">Submit</button>
    </form>
    </header>
    <section class="main">
        <ul class="blog-list"></ul>
 </section>

