<section class="previous-comments">
    <div class="logged">
        <h3 class="email-label">Email:</h3>
        {{ email }}
        <h3 class="comments-label">Comments:</h3>
        {{ comments }}
    </div>
</section>
